<!--<html>
    <div class="container">
        <div class="row heading">
            <div class="col-md-10 ">
                <h1>Endpoint DLP Configuration</h1>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="policyId">Policy Id</label>
                        <input type="text" id="policyId" class="form-control" value="4ab79076-0002-4a41-9d95-1c5eed9a4172" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="deviceId">Master Device Id</label>
                        <input type="text" id="deviceId" class="form-control" value="d0a40594-8ca3-11eb-8ac4-e562c2cb9c7d" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="url">Server URL</label>
                        <input type="text" id="url" class="form-control" value="ccee5b97b8.eu1.saas.securecircle.com" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="path">Folders To Exclude</label>
                        <input type="text" id="path" class="form-control" value="C:\\Windows, C:\\Program Files, C:\\Program Files(x86), C:\\$Recycle.Bin" disabled/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>-->
<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

</body>
</html> 
